*.obj
*.pdb
*.ilk
*.idb
*.tlog
*.log
*.res
*.ipch
*.lib
.vs/
Debug/
Release/
Distribute/
ipch/
*.o
*.a
*.core
OBJDIR/
.depend/
.depend.*
*.exe
*.dll
*.epk
*.eix
yedek/
fullbinary/
*.tar.gz
*.vdi
*.rar
*.zip
